<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="author" content="Alexey Botkov">
  <meta name="description" content="Dear Irie"/>
  <meta name="keywords" content="Ship, maritime, sailing, sailboat, yacht, seafairing, seamanship, liveaboard" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="og:site_name" content="Dear Irie"/>
  <meta name="og:title" content="Dear Irie"/>
  <meta name="og:description" content="Home on the water"/>
  <meta name="og:image" content="{{ogimage}}" />

  <link rel="stylesheet" type="text/css" href="../src/css/main.css"/>
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  
  <title>Dear Irie: {{title}}</title>
</head>
<body>
  <div id="wrap">
    {{header}}
    {{body}}
    {{footer}}
  </div>
</body>
</html>